<!DOCTYPE html>
<html lang="en">

    <head>
        <base href="/pages/" />
        <script src="../bower_components/angular/angular.min.js"></script>
        <link rel="stylesheet"; href="../node_modules/ng-table/bundles/ng-table.min.css">
        <script src="../node_modules/ng-table/bundles/ng-table.min.js"></script>

        <script src="../angular/myApp.js"></script>
        <script src="../angular/MenuController.js"></script>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>BuBBl Box</title>

        <!-- Bootstrap Core CSS -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="../dist/css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- jQuery -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="../bower_components/raphael/raphael-min.js"></script>
        <script src="../bower_components/morrisjs/morris.min.js"></script>
        <script src="../angular/BuBBlBoxRestController.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../dist/js/sb-admin-2.js"></script>

    </head>

    <body>
        <div ng-app="myApp" ng-controller="restCtrl"> 
            <div id="wrapper">

                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">BuBBl Box Configuration File Management Tool</a>
                    </div>
                    <!-- /.navbar-header -->

                    <div class="nav navbar-top-links navbar-right" ng-controller="MenuController">
                        <ng-include src="'template_topmenu.html'"></ng-include>
                    </div>
                    <!-- /.navbar-top-links -->

                    <div class="navbar-default sidebar" role="navigation" ng-controller="MenuController">
                        <ng-include src="'template_leftmenu.html'"></ng-include>
                    </div>
                    <!-- /.navbar-static-side -->
                </nav>

                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Configuration Artifacts</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Configuration Artifacts
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table ng-table="tableParams" class="table" show-filter="true">
                                            <tr ng-repeat="x in myData" ng-click="go(x)">
                                                <td title="'Name'" filter="{ name: 'artifactName'}" sortable="'artifactName'">
                                                    {{x.artifactName}}</td>
                                                <td title="'Type'" filter="{ name: 'artifactType'}" sortable="'artifactType'">
                                                    {{x.artifactType}}</td>
                                                <td title="'Source Component'" filter="{ name: 'sourceComponentName'}" sortable="'sourceComponentName'">
                                                    {{x.sourceComponentName}}</td>
                                                <td title="'Environment'" filter="{ name: 'environment'}" sortable="'environment'">
                                                    {{x.environment}}</td>
                                                <td title="'Artifact ID'" filter="{ name: 'artifactID'}" sortable="'artifactID'">
                                                    {{x.artifactID}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                    <div class="well">
                                        <h4>Create New Configuration Artifact</h4>
                                        <p>Click the button below to open up the create artifact page.</p>
                                        <a class="btn btn-default btn-lg btn-block" target="_blank" href="newartifact.html">Create New Configuration Artifact</a>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>


    </body>



</html>
